:root{
  --notes:rgba(255, 228, 196, 0.5);
}
@keyframes flipcard {
  from {transform:rotateY(0)}
  to {transform:rotateY(180deg)}
}
@keyframes flipcard_reverse {
  from {transform: rotateY(180deg);}
  to {transform:rotateY(0)}
}
@keyframes addTaskAppear {
  from {transform: scale(0.2)}
  to { transform: scale(2);}
}
@keyframes addTaskDisappear {
  from{tranform:scale(2)}
  to{transform:scale(0.2)}
}
@keyframes greetings {
  0% {transform:rotate(0)}
  25% {transform:rotate(10deg)}
  50% {transform:rotate(0)}
  75%{transform:rotate(-15deg)}
  100%{transform:rotate(0)}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
pre{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Flags */
    .blur{
      filter: blur(5px)
    }
    .flex{
      display:flex
    }
    .center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flex-row{
      display:flex;
    }
/* App.js CSS */
    .app--main{
      display:flex;
      flex-direction: row;
    }
    .app--left{
      flex:4;
    }
    .app--right{
      flex:1;

      margin:20px 0 20px;
      background-color: antiquewhite;
      position:sticky;
      top:20px;
      border-radius:10px;
      padding:10px;
      overflow-y:scroll
    }

/* Nav.js Css */
    .nav {
      display:flex;
      flex-direction: row;
      width:100%;
      gap:10px;
      justify-content: space-around;
      height:3rem;
      align-items: center;
      box-shadow: 0 0 5px  black;
    }

    .nav--item-container{
      height:100%;
      border-bottom:1px solid transparent;
      display:flex;
      align-items: center;
      letter-spacing: .2rem;
      transition:.5s;
      box-shadow: 0 4px 5px -5px transparent;
      z-index:1
    }
  
    .nav--item-container:hover, .nav--item-container.shown{
      box-shadow: 0 4px 2px -2px indianred;
      color: indianred;
      cursor:pointer
    }

    .nav--item-container>h4 {
      margin:0;
      pointer-events: none;
    }

/* Shopping CSS */
    .shopping--container{
      margin:15px;
      flex:1
    }
    .shopping--item-container{
      border-bottom:1px solid black;
      font-size:25px;
      display:flex;
      flex-direction: row;
      padding: 5px 0 5px 20px;
      background-color:var(--notes) ;
    }
    .shopping--checkbox{
      accent-color: indianred;
      height:16px;
      width:16px;
      
    }
    .shopping--item-column{
      padding-left:10px;
      pointer-events: none;
    }
    .shopping--add-item-input{
      border:none;
      font-size:25px;
      min-width: 100px;
      flex:1;
      background-color: transparent ;
      margin-left:10px;
    }
    .shopping--add-item-input::placeholder{
      color:rgb(205, 92, 92, 0.8);
    }
    .shopping--add-item-input:focus{
      outline:none;
      border:none
    }
    .shopping--add-item-input[type='date']::-webkit-calendar-picker-indicator{
      color:indianred
    }
    .shopping--add-item-button{
      margin-left:4px;
      padding:0;
      background-color: transparent;
      border:0;
      fill:gray;
      transition:0.5s
    }
    .shopping--add-item-button:hover{
      fill:indianred;
      background-color: rgb(205, 92, 92, 0.2);
      cursor:pointer
    }
    .shopping--delete-btn {
      font-size:25px;
      margin: 10px;
      color: indianred;
      border:1px solid indianred;
      border-radius:5px;
      background-color: var(--notes);
      transition:0.8s
      }
    .shopping--delete-btn:hover{
      color:var(--notes);
      background-color: indianred;
      border-color: var(--notes);
      cursor:pointer
    }

  /* Homework css */
  .tab--container{
    margin:20px;
    padding:20px;
    display:flex;
    background-color: var(--notes);
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: filter 1s
  }
  .tab--task{
    background-color: white;
    width:300px;
    height:200px;
    border:1px solid indianred;
    border-radius: 10px;
    padding:15px;
    display:flex;
    flex-direction: column;
    position:relative;
    perspective: 1000px;
    margin-top:30px
  }
  .tab--task.redBg{
    background-color: rgb(205, 92, 92, 0.15);
  }
  
  .flip-card-inner{
    position:relative;
    text-align: center;
    transition:transform 0.8s;
    transform-style:preserve-3d;
  }
  .flip-card-inner.flipped{
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back{
    position:absolute;
    display:flex;
    flex-direction: column;
    width:90%;
    height:85%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .flip-card-front h2{
    color:indianred;
    margin-bottom:0
  }
  .flip-card-back{
    transform:rotateY(180deg);
    color: darkred;
  }
  .flip-card-btn {
    border:1px solid indianred;
    margin:10px;
    width:75px;
    height:30px;
    font-size:20px;
    color:indianred;
    background-color: var(--notes);
    transition:0.6s
  }
  .flip-card-btn:hover{
    cursor:pointer;
    color:darkred;
    background-color: rgba(255, 0, 0, 0.248);
  }
  .tab--task-btn{
    position:absolute;
    
    top:0px;
    background-color: transparent;
    border:none;
    color:red;
    transition:0.5s
  }
  .tab--task-btn.edit{
    left:-5px;
  }
  .tab--task-btn.delete{
    right:-5px
  }
  .tab--task-btn > svg {
    pointer-events: none;
  }
  .tab--task-btn:hover{
    cursor:pointer;
    color:darkred;
    transform: rotate(270deg) scale(1.5);
  }
  .tab--task > h2 {
    margin:0 0 10px 0
  }
  .tab--task-add{
    background-color: rgba(2, 165, 2, 0.344);
    color:green;
    justify-content: center;
    align-items: center;
    transition:0.5s;
    opacity:0.5;
    position:relative
  }
  .tab--task-add-text{
    display:flex;
    font-size: 25px;
    align-items: center;
    
  }
  .tab--task-add:hover{
    opacity: 1;
    cursor:pointer
  }
  .tab--task-item{
    flex:1
  }
  .tab--task-item-notes{
    margin-top:1px;
    overflow-y: auto;
    margin:0
  }
  
  
  /* AddTask */
  .addTask--container {
    border:1px solid black;
    position:fixed;
    z-index: 1;
    transform:scale(2);
    left:calc(40vw - 150px);
    top:calc(50vh - 100px);
    transition:1s;
    animation: addTaskAppear 1s 1
  }
  .addTask--container.active {
    transform: scale(2)
  }
  .addTask--form {
    display:flex;
    flex-direction: column;
    gap:10px;
    
    height:100%
  }
  .addTask--form > * {
    border:none;
    
  }
  .addTask--form > *:focus{
    border:none;
    outline:none;
    border-radius:5px;
    padding-left:10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .addTask--form > input {
    flex:1
  }
  .addTask--form >input[name='name'] {
    font-size:20px
  }
  .addTask--form > input[type='date'] {
    width:fit-content
  }
  .addTask--form > textarea {
    resize:none;
    flex:7
  }
  .addTask--form > input[disabled]{
    background-color:transparent;
    color:black
  }
  .addTask--form-btn {
    background-color: rgba(2, 165, 2, 0.344);
    color:green;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0.5em;
    right:0.5em;
    border-radius: 15px;
    opacity:0.6;
    transition:0.7s
  }
  .addTask--form-btn:hover{
    opacity:1;
    cursor:pointer;
    border-radius: 10px;
  }
  .addTask--container-close-btn {
    position:absolute;
    top:0.5em;
    right:0.5em;
    border:none;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0, 0.344);
    color:red;
    border-radius: 15px;
    transition:0.5s;
    opacity:0.6

  }
  .addTask--container-close-btn:hover{
    opacity:1;
    cursor:pointer;
    border-radius:10px;
  }
  /* Handy */
  .handy--container{
    transition:0.5s;
    white-space:nowrap;
    padding-top:30px;
    overflow:hidden;
  }
  .minimized {
    flex:0;
    padding-right:0;
    width:0;
    padding-left:30px;
    overflow-y:hidden;
  }
  .minimized > .handy--minimize-btn{
    left:0
  }
  .handy--minimize-btn {
    position:absolute;
    top:.5em;
    left:0.5em;
    transition:0.5s;
    background-color: transparent;
    border:none
  }
  .handy--minimize-btn>svg {
    pointer-events: none;
  }
  .handy--closest-container{
    display:flex;
    flex-direction: column;
    gap:0.25em;
    position:relative;
    gap:10px
  }
  .handy--closest-item{
    position:relative;
    padding:0.25em;
    border-radius:5px;
    background-color: white;
    height:45px;
    word-spacing: 1px;
    padding:5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .handy--closest-item.redBg{
    background-color: rgb(205, 92, 92, 0.15);
  }
  .handy--closest-item-delete-btn{
    position:absolute;
    right:0;
    background-color: transparent;
    border:none;
    top:5px;
    transition:0.5s;
    color:red
  }
  .handy--closest-item-delete-btn:hover{
    transform: scale(1.5);
    color:darkred
  }
  .handy--closest-type{
    font-size: 30px;
    margin-left:10px;
    font-weight: 500;
    font-style:italic;
    color:rgb(205, 92, 92, 0.3);
    position:absolute;
    right:20px;
    top:5px
  }

  /* Home */
  .home--container{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 200px; 
    margin:40px;
    gap:5px;
    transition:1s;
  }
  .home--container>div{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition:1s;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    padding:20px;
    transition:1s
  }
  .home--container>div>h2 {
    margin-top:0;
    letter-spacing: 10px;
  }
  .home--container>div:hover{
    cursor:default;
  }
  .home--container>div:nth-child(even){
    background-color: aquamarine;
    border:1px solid black
  }
  .home--container>div:nth-child(odd){
    background-color: lightsalmon;
    border:1px solid black;

  }
  .home--container>div:nth-child(1){
    grid-column-start:1;
    grid-column-end:3;
    align-items: center;
    justify-content: center;
  }
  .home--container>div:nth-child(2){
    grid-row-start:3;
    grid-row-end:5;
    grid-column-start:3;
    grid-column-end:4;
    justify-content:flex-start;
  }
  .home--container>div:nth-child(3){
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3
  }
  .home--container>div:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:4;
  
  }
  .home--greetings{
    font-size:60px;
    letter-spacing: 30px;
    align-items: center;
    transition:1s
  }
  .home--greetings>p {
    animation:greetings 5s infinite linear
  }
  .home--item{
    margin:2px;
    white-space: nowrap;
  }